html {
    background: black;
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Header Section  */

h1 {
    font-weight: normal;
    font-size: 50px;
}

a {
    color: aquamarine;
    font-size: 16px;
}

/* Video Section  */

.video {
    margin-top: 30px;
}

/* Travel Guide Section  */

h2 {
    font-weight: 300;
    font-size: 42px;
}

p, span {
    font-size: 21px;
    color: gray;
}

/* Coming Soon Section  */

img {
    margin-top: 30px;
}

/* Footer Section  */

footer {
    text-align: right;
    margin-top: 40px;
    color: gray;
}